.banner{
	width: 100%;
	height: 400px;
}

.barra{
	margin: 10px;
}

.botonIni{
	margin: 
}

#footer{
	margin:0px;
    width: 100%;
    height: 300px;
    border: none;
    padding: 0px;
    z-index: 0;
}