.banner{
	width: 100%;
	height: 400px;
}

.barra{
	margin: 10px;
	text-align: left;
}

.botonIni{
	height: 10px;
}

#footer{
	margin:0px;
    width: 100%;
    height: 300px;
    border: none;
    padding: 0px;
    z-index: 0;
}

.textbox{
	size: 600px;
	text-align: left;
}

.error{
	display: none;
	background-color: red;
	color: white;
	text-align: center;
}

.confirmation{
	display: none;
}